:root{
    --cxabecalho:  #fff;
    --texto-cabecalho: #ac635c;
    --texto-titulo: #fff;
    --texto-geral: #ffe3e3;
    --caixa-texto: #ac635c;
    --caixa-texto-2: #000;
}
   body{
       background-image: url("./imagens/fundositelegal.png");
       background-repeat:inherit;
        color: var(--caixa-texto);
    }




