:root{
    --cabecalho:  #fff;
    --texto-cabecalho: #ac635c;
    --texto-titulo: #fff;
    --texto-geral: #ffe3e3;
    --caixa-texto: #ac635c;
    --caixa-texto-2: #000;
}
   body{
       background-image: url("./imagens/fundositelegal.png");
       background-repeat: no-repeat;
       background-size: cover;
       height: 100vh;
        color: var(--caixa-texto);
    }

.cabecalho{
    background-color: var(--cabecalho);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
}



