:root{
    --cabecalho:  #fff;
    --texto-cabecalho: #ac635c;
    --texto-titulo: #fff;
    --texto-geral: #ffe3e3;
    --caixa-texto: #ac635c;
    --caixa-texto-2: #000;
}
   body{
       background-image: url("./imagens/fundositelegal.png");
       background-repeat: no-repeat;
       background-size: cover;
       height: 100vh;
    font-size: 45px;
    }

.cabecalho{
    background-color: var(--cabecalho);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--caixa-texto);
}

.caixa-texto-1{
    background-color: var(--caixa-texto);
    color: var(--texto-geral);
    justify-content: center;
    align-items: center;
}


